In [2]:
import psycopg2
from psycopg2 import Error
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

Connecting to PostgreSQL Database

In [3]:
# *********************************************
# Credentials to connect to Postgres database *
# *********************************************
database="grp21_vaccinedist"   
user='grp21'       
password='B5!BpWYT' 
host='dbcourse2022.cs.aalto.fi'
port= '5432'

# **************************************
# Establish the connection to Postgres *
# **************************************
try:
    # **********************************************************************
    # Connect the postgres database from your local machine using psycopg2 *
    # **********************************************************************
    connection = psycopg2.connect(
                                    database=database,              
                                    user=user,       
                                    password=password,   
                                    host=host,
                                    port=port
                                )
    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT version();")
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

    # Connect to db using SQLAlchemy create_engine()
    DIALECT = 'postgresql+psycopg2://'
    db_uri = "%s:%s@%s/%s" % (user, password, host, database)
    print(DIALECT+db_uri)
    engine = create_engine(DIALECT + db_uri)
    psql_conn  = engine.connect()

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
# finally:
#     if (connection):
#         psql_conn.close()
#         # cursor.close()
#         connection.close()
#         print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'grp21', 'channel_binding': 'prefer', 'dbname': 'grp21_vaccinedist', 'host': 'dbcourse2022.cs.aalto.fi', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.11 (Ubuntu 12.11-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit',)

postgresql+psycopg2://grp21:B5!BpWYT@dbcourse2022.cs.aalto.fi/grp21_vaccinedist

# Question 4

In [4]:
sql_ = """SELECT * FROM patient"""

question4 = pd.read_sql_query(sql_, psql_conn)
print(question4.head())

          ssno                   name    birthday gender
0  841229-112N       Rodolfo O'Reilly  1984-12-29      M
1  780214-1893  Prof. Erling Morar MD  1978-02-14      F
2  950303-191X  Dr. Simeon Keeling II  1995-03-03      M
3  730218-253D            Dereck Beer  1973-02-18      M
4  971214-2818   Prof. Brice Metz PhD  1997-12-14      M

As we can see, to get the age, first we will need to convert the birthday into Datetime so we can make the subtraction to get the age.

In [5]:
question4['birthday'] = pd.to_datetime(question4['birthday'])

After we have the birthday in the correct format, let's perform the subtraction to get the age. For this question, I will calculate the age up until the day that the script is being run.

In [6]:
today = pd.to_datetime(pd.to_datetime("today").strftime("%Y-%m-%d"))
question4['ageGroup'] = question4['birthday'].apply(
               lambda x: today.year - x.year - 
               ((today.month, today.day) < (x.month, x.day)) 
               )

question4['ageGroup'] = pd.cut(question4['ageGroup'], bins=[0, 9, 19, 39, 60, np.inf], right=False, include_lowest=True)
question4['ageGroup'] = question4['ageGroup'].cat.rename_categories(['0-9', '10-19', '20-39', '40-60', '60+'])

question4.to_sql("question4", con=psql_conn, if_exists='replace', index=False)
print(question4.head())

          ssno                   name   birthday gender ageGroup
0  841229-112N       Rodolfo O'Reilly 1984-12-29      M    20-39
1  780214-1893  Prof. Erling Morar MD 1978-02-14      F    40-60
2  950303-191X  Dr. Simeon Keeling II 1995-03-03      M    20-39
3  730218-253D            Dereck Beer 1973-02-18      M    40-60
4  971214-2818   Prof. Brice Metz PhD 1997-12-14      M    20-39

As seen from above, I have both calculate the date and group them in one code cell, and now I will explain what I have done:
* For the age calculating part, I take current date without the time and minus it to the <code>birthday</code> column, I also additionally minus the part <code>((today.month, today.day) < (x.month, x.day))</code>. This part will result in <code>0</code> if the timestamp is after the birthday of the patient, and it will only be the current year minus the birth year. But if the timestamp is not yet the birthday of the patient, <code>((today.month, today.day) < (x.month, x.day))</code> will results in <code>1</code>, and the age of the patient will be one less.
* For the age grouping, first I cut the <code>ageGroup</code> column into 5 bins as indicated in the task description. Also, I choose to make the bins left inclusive but not right inclusive. I choose it this way as the lowest bin is <code>[0,10)</code>, and the highest bin is <code>[60, np.inf)</code>. Thus, it makes sense to include those with 0 ages and exclude those with infinity age (though this is never achieved in real life). After I got the age bins, I renamed those bins so that they match with what is expected.
    
With that, we can now move on to the next question:

# Question 5

- First, create a dataframe that has the information about the patients and their age groups. This can be easily done by copying the dataframe from part 4
- Second, create a dataframe that has the information about the patients and their vaccination status (i.e., how many doses they had)
    - Query to find all the patients that have attended some vaccination events, and count how many did they attend (i.e., vaccination status 1 or 2)
    - Query to find patients that have not attended any vaccination events, so their vaccination status is 0

In [7]:
# create a dataframe of patients with their age groups
patient_with_agegroup = question4.copy()
print(patient_with_agegroup.head())

# create a dataframe of patients with their vaccination status
print()
sql_query = """
(SELECT patient.ssno,
        patient.name,
        patient.birthday,
        patient.gender,
        COUNT(attend.date) AS vaccinationstatus
    FROM patient,
        attend
    WHERE attend.patient = patient.ssNo
    GROUP BY patient.ssno)
    UNION
    (SELECT patient.ssno,
        patient.name,
        patient.birthday,
        patient.gender,
        0
    FROM patient
    WHERE patient.ssNo NOT IN (SELECT patient FROM attend));"""

patient_with_vaccinationstt = pd.read_sql_query(sql_query, psql_conn)
patient_with_vaccinationstt['birthday'] = pd.to_datetime(patient_with_vaccinationstt['birthday'])
print(patient_with_vaccinationstt.head())

          ssno                   name   birthday gender ageGroup
0  841229-112N       Rodolfo O'Reilly 1984-12-29      M    20-39
1  780214-1893  Prof. Erling Morar MD 1978-02-14      F    40-60
2  950303-191X  Dr. Simeon Keeling II 1995-03-03      M    20-39
3  730218-253D            Dereck Beer 1973-02-18      M    40-60
4  971214-2818   Prof. Brice Metz PhD 1997-12-14      M    20-39

          ssno                 name   birthday gender  vaccinationstatus
0  060406-686D           Dovie West 2006-04-06      F                  1
1  741104-114G         Marvin Fahey 1974-11-04      M                  1
2  720414-668E           Paige Conn 1972-04-14      F                  0
3  930804-7021   Prof. Harrison Toy 1993-08-04      M                  1
4  010327-525G  Dr. Mireille Hansen 2001-03-27      M                  2

After that, we can join these 2 dataframes with inner join and get a dataframe that has information about patients, their age group and their vaccination status.

In [8]:
question5 = patient_with_agegroup.merge(patient_with_vaccinationstt, how='inner', on=['ssno', 'name', 'birthday', 'gender'])
print(question5)

            ssno                   name   birthday gender ageGroup  \
0    841229-112N       Rodolfo O'Reilly 1984-12-29      M    20-39
1    780214-1893  Prof. Erling Morar MD 1978-02-14      F    40-60
2    950303-191X  Dr. Simeon Keeling II 1995-03-03      M    20-39
3    730218-253D            Dereck Beer 1973-02-18      M    40-60
4    971214-2818   Prof. Brice Metz PhD 1997-12-14      M    20-39
..           ...                    ...        ...    ...      ...
145  881210-971J        Brain Greenholt 1988-12-10      M    20-39
146  110614-978B      Ms. Hanna Corkery 2011-06-14      F    10-19
147  830908-9826               Ana Ward 1983-09-08      F    20-39
148  080305-985A             Ricky Kuhn 2008-03-05      M    10-19
149  011119-9865          Ahmad Kovacek 2001-11-19      M    20-39

     vaccinationstatus
0                    2
1                    1
2                    1
3                    1
4                    1
..                 ...
145                  0
146                  0
147                  0
148                  0
149                  0

[150 rows x 6 columns]

# Question 6

### In-depth explanation about the steps to solve question 6

This is the link to an article which explains in depth about pandas table pivotting: https://pbpython.com/pandas-pivot-table-explained.html.

It is really useful for me to performing table pivotting step by step to solve this question. The process of solving this question is explained below:

First, we start slowly with pivotting our dataframe using column 'vaccinationstatus' as our index. We use aggregation count to count how many time a single value appear in the dataframe.

In [69]:
question6 = question5.copy()

table_pivot = pd.pivot_table(question6, index=['vaccinationstatus'], aggfunc='count')
print(table_pivot)

                   ageGroup  birthday  gender  name  ssno
vaccinationstatus
0                        63        63      63    63    63
1                        75        75      75    75    75
2                        12        12      12    12    12

Since we only need to store a column to track how many cases of each vaccination status have, we need to choose a column to be the value in our pivot table.

At first, I made a mistake to choose ageGroup, but then it caused conflict since ageGroup will be used for another purpose (explained later below). It makes sense that ssno should be chosen as the value, since it contains the information about the patients, and it is also the unique key to record information about vaccination status and age group of the patients.

In [70]:
table_pivot = pd.pivot_table(question6, values=['ssno'], index=['vaccinationstatus'], aggfunc='count')
print(table_pivot)

                   ssno
vaccinationstatus
0                    63
1                    75
2                    12

Now, I want to further break down the number of cases in each vaccination status according to different age groups. This can be done easily with pivotting when choose the columns to be 'ageGroup'.

In [71]:
table_pivot = pd.pivot_table(question6, values=['ssno'], index=['vaccinationstatus'], columns=['ageGroup'], aggfunc='count')
table_pivot

                  ssno
ageGroup           0-9 10-19 20-39 40-60 60+
vaccinationstatus
0                   12    13    17    21   0
1                    7    21    29    18   0
2                    2     3     6     1   0

Remove the first ssno row from table_pivot to have a table which fits the description of the question.

In [72]:
table_pivot = table_pivot.loc[:,'ssno']
table_pivot

ageGroup           0-9  10-19  20-39  40-60  60+
vaccinationstatus
0                   12     13     17     21    0
1                    7     21     29     18    0
2                    2      3      6      1    0

Now we have the information about the number of vaccination status for each age group. What we want is to convert the number into its corresponding percentage with respect to its age group sum.

At first, I use pandas function apply() to calculate the percentage. At the end of the dataframe, I added a row to calculate the total sum of each column. However, as you can see below, there are some columns which their sum does not add up to exactly 100% due to rounding errors.

In [73]:
# create a copy of the dataframe table_pivot so that it does not change the original dataframe
approach_1 = table_pivot.copy()
approach_1 = approach_1.apply(lambda x: round(x / x.sum() * 100, 2))

sum_col = {'0-9':approach_1['0-9'].sum(), 
        '10-19':approach_1['10-19'].sum(), 
        '20-39':approach_1['20-39'].sum(), 
        '40-60':approach_1['40-60'].sum(), 
        '60+':approach_1['60+'].sum()}

approach_1.loc['Total'] = list(sum_col.values())
approach_1

ageGroup             0-9   10-19   20-39  40-60  60+
vaccinationstatus
0                  57.14   35.14   32.69   52.5  NaN
1                  33.33   56.76   55.77   45.0  NaN
2                   9.52    8.11   11.54    2.5  NaN
Total              99.99  100.01  100.00  100.0  0.0

Therefore, I decided to create a function to calculate the percentage value for the dataframe.

For each column, I do the following:
- Calculate the percentage for each row value in that column by dividing the value to the sum of the column.
- For the last row value, I simply calculate 100 minus total percentage values of the previous rows.

Note that I excluded column "60+" since there are no cases for all the vaccination status. All the values in that column will be 0.

In [74]:
def cal_percentage(column:pd.Series) -> pd.Series:
    if column.name == "60+":
        return column

    for i in range(len(column-1)):
        try:
            column.iloc[i] = round(column.iloc[i] / column.sum() * 100)
        except ValueError:
            column.iloc[i] = np.NaN
    try:
        column.iloc[-1] = 100 - column.iloc[0:-1].sum()
    except ValueError:
        column.iloc[-1] = np.NaN
    
    return column

In [77]:
approach_2 = table_pivot.copy()
approach_2 = approach_2.apply(cal_percentage)

sum_col = {'0-9':approach_2['0-9'].sum(), 
        '10-19':approach_2['10-19'].sum(), 
        '20-39':approach_2['20-39'].sum(), 
        '40-60':approach_2['40-60'].sum(), 
        '60+':approach_2['60+'].sum()}

approach_2.loc['Total (in %)'] = list(sum_col.values())
approach_2

ageGroup           0-9  10-19  20-39  40-60  60+
vaccinationstatus
0                   57     35     33     52    0
1                   11     36     43     25    0
2                   32     29     24     23    0
Total (in %)       100    100    100    100    0